.login-background {
  background-color: white;
  height: 100vh;
}

.login-container, .login-form {
  position: relative;
  top: 42.5%;
  transform: translateY(-50%);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s, color 5000s ease-in-out 0s;
    transition-delay: background-color 5000s, color 5000s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.location-change-link {
  margin-left: 0.5em;
  color: #4285f4 !important;
  cursor: pointer;
  font-size: 13px;
}