//Global styles + imports go here
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import '_nav.scss';
@import '_helpers.scss';
@import '_home.scss';

html, body {
  font-family: 'Roboto', sans-serif;
}

button:focus {
  outline: transparent !important;
}

main {
  background-color: black;
}